.section-heading {
	height: 136px;
	width: 540px;
	left: 450px;
	margin: 64px auto 48px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
	font-size: 48px;
	font-weight: 800;
	text-align: center;
	margin: 0;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-ftr {
	margin: 8px auto 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	text-align: center;
}

.features-list {
	height: 360px;
	width: 1110px;
	margin: 0 auto;
}

.first-row,
.second-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 64px;
}

.row-el {
	height: 148px;
	width: 350px;
	text-align: center;
}
