body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

#footer-base {
	height: 280px;
	width: 100%;
	background: #0b0d17;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-links {
	text-decoration: none;
	margin-right: 24px;
}

.footer-links p {
	display: inline;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
}

.footer-links p:hover {
	color: darkgray;
}

#footer-logo {
	display: block;
	margin-bottom: 24px;
}

#footer-rights {
	font-size: 14px;
	line-height: 24px;
	color: #d9dbe1;
}

#footer-sub-title {
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	margin: 32px 0 10px 0;
	color: #fff;
}

#footer-right img {
	display: block;
	margin: 16px 0;
}

#seperator {
	width: 100%;
	height: 12px;
	display: block;
}
